* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  --primary-color: rgb(51, 51, 51);
}

body {
  background-color: var(--primary-color);

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  gap: 16px;
}

.social_icon {
  display: grid;
  place-content: center;
  padding: 8px;
  border-radius: 16px;
  
  box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.2), 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.social_icon img {
  height: 40px;
}