* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  --primary-color: rgb(51, 51, 51);
  --color-text: rgb(128, 128, 128);

  --box_shadow-light: rgba(255, 255, 255, 0.2);
  --box_shadow-dark: rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--primary-color);

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social_icon {
  display: grid;
  place-content: center;
  padding: 12px;
  border-radius: 16px;
  
  box-shadow: -2px -2px 5px 0px var(--box_shadow-light), 2px 2px 5px 0px var(--box_shadow-dark);
}

.social_icon img {
  display: block;
  height: 40px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.profile_image img {
  height: 200px;
  border-radius: 50%;
  margin-bottom: 12px;
  
  box-shadow: -2px -2px 5px 0px var(--box_shadow-light), 2px 2px 5px 0px var(--box_shadow-dark);
}

.profile_name {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 700;
  color: var(--color-text);
}